
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   @font-face {
      font-family: 'Sree';
      font-style: normal;
      font-weight: 400;
      src: url("fonts/sree.ttf");
   }
   @font-face {
      font-family: 'Figtree';
      font-style: normal;
      font-weight: 400;
      src: url("fonts/figtree.ttf");
   }
   @font-face {
      font-family: 'Amiri-Regular';
      font-style: normal;
      font-weight: 400;
      src: url("fonts/Amiri-Regular.ttf");
   }
   @font-face {
      font-family: 'Amiri-Bold';
      font-style: normal;
      font-weight: 600;
      src: url("fonts/Amiri-Bold.ttf");
   }
}
